body {
  background-color: #ffe6a7;
}

@font-face {
  font-family: nikefont;
  src: url(Futura\ Bold\ Condensed\ Oblique.otf);
}

.main {
  height: 100vh;
}
.header {
  border: solid;
  height: 24vh;
  margin-left: 500px;
  margin-right: 490px;
  text-align: center;
}
h1 {
  font-family: nikefont;
  font-size: 140px;
  margin-top: 30px;
}
