body {
  background-color: #ffe6a7;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: nikefont;
  src: url(Futura\ Bold\ Condensed\ Oblique.otf);
}

.main {
  background-size: cover;
  background-position: center;
  background-image: url(pexels-tiago-reivax-822509.jpg);
  padding: 20px;
}
.header {
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
  padding: 0;
  justify-content: center;
  justify-items: center;
  background-color: rgba(255, 230, 167, 0.7);
}
h1 {
  font-family: nikefont;
  font-size: 100px;
  margin-top: 30px;
}

.links {
  list-style-type: none;
  text-decoration: none;
  font-size: 100px;
  font-family: nikefont;
  transition: all 300ms;
}

a:visited {
  color: black;
}
a:hover {
  transform: scale(1.4);
}

.info-box {
  height: 80vh;
  width: 40%;
  margin: auto;
  margin-top: 20px;
  background-color: rgba(67, 40, 24, 0.8);
  padding: 20px;
}

p {
  font-family: nikefont;
  color: white;
  font-size: 25px;
}

input {
  border: solid #ffe6a7;
  height: 20px;
}
