* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffe6a7;
}

@font-face {
  font-family: nikefont;
  src: url(Futura\ Bold\ Condensed\ Oblique.otf);
}

.main {
  border: 5px;
  height: 850px;
}

.navbar {
  border: 5px;
  display: flex;
  position: sticky;
  justify-content: center;
  height: 50px;
  align-items: center;
  background-color: #432818;
  width: 100%;
}

.title {
  border: 5px;
  text-align: center;
  font-family: nikefont;
  color: #ac7b00;
  font-size: 100px;
  background-image: url(pexels-josh-hild-2422264.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 94vh;
}

.header {
  text-align: center;
  font-family: nikefont;
  font-size: 22vh;
  color: #ac7b00;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  margin: 70px;
  font-size: 30px;
  font-family: nikefont;
}

#justdoit {
  font-size: 45px;
  padding-bottom: 40px;
}

.aroundproduct {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  height: 70vh;
  padding: 1%;
}

.skating-img {
  background-image: url(sk8.jpg);
  height: 70vh;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  justify-items: center;
}
.producttext {
  width: 47%;
  height: 80%;
  font-family: nikefont;
  font-size: 45px;
  background-color: #99582a;
  padding: 10px;
  margin-left: auto;
  display: flexbox;
}

.shopbox {
  width: 30%;
  height: 40%;

  background-color: #ffe6a7;
  transition: all 300ms;
}
.shopbox a {
  margin-left: 0;
}

.shopbox-img {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

#shoeproducttext {
  margin: 20px 0 0 20px;
}

#capproducttext {
  margin-right: 20px;
  margin-left: 0;
}

.productpic {
  border: 5px;
  display: flex;
  justify-items: center;
  justify-content: center;
  margin: auto;
}

.gif {
  border: 1px;
  width: 40vw;
}
.links {
  transition: all 300ms;
  display: inline-block;
}

.links:hover {
  transform: scale(1.4);
}

.shopbox:hover {
  transform: scale(1.04);
  border-radius: 12px;
  background-color: #ffe6a7;
}

.links:visited {
  color: white;
}

@media screen and (max-width: 600px) {
  body {
    width: 430px;
  }
  .producttext {
    width: 100%;
    height: 300px;
    font-size: 32px;
  }
  .productpic {
    width: 100%;
    height: 150px;
  }

  .aroundproduct {
    height: auto;
    flex-direction: column-reverse;
  }

  .header {
    font-size: 70px;
  }
  #justdoit {
    font-size: 40px;
  }
  .title {
    background-attachment: local;
  }
  .skating-img {
    background-attachment: local;
    background-position: 120rem;
  }
  .shopbox {
    margin-bottom: 10px;
  }
  .productpic {
    min-height: 200px;
    width: 500px;
  }
  .gif {
    width: auto;
  }
}
