* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffe6a7;
}

@font-face {
  font-family: nikefont;
  src: url(Futura\ Bold\ Condensed\ Oblique.otf);
}

.main {
  border: 5px;
  height: 850px;
}

.navbar {
  border: 5px;
  display: flex;
  position: sticky;
  justify-content: center;
  height: 60px;
  align-items: center;
  background-color: #432818;
  width: 100%;
}

.title {
  border: 5px;
  text-align: center;
  justify-content: center;
  justify-items: center;
  font-family: nikefont;
  color: #ffe6a7;
  font-size: 100px;
  background-image: url(pexels-josh-hild-2422264.jpg);
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  height: 60%;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  margin: 70px;
  font-size: 25px;
  font-family: nikefont;
}

#justdoit {
  font-size: 45px;
  padding-bottom: 40px;
}

.aroundproduct {
  border: 5px;
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  height: 60vh;
}

.producttext {
  border: 5px;
  width: 47%;
  height: 95%;
  font-family: nikefont;
  font-size: 45px;
  background-color: #99582a;
  padding: 10px;
  margin-left: auto;
}

.shopbox {
  border: 1px solid snow;
  width: 30%;
  height: 40%;
  position: relative;
  background-color: #ffe6a7;
  transition: all 300ms;
  margin-top: 200px;
  margin-left: 30vw;
}
.shopbox a {
  margin-left: 0;
}

.shoppingbox {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

#shoeproducttext {
  margin: 20px 0 0 20px;
}

#capproducttext {
  margin-right: 20px;
}

.productpic {
  border: 5px;
  display: flex;
  justify-items: center;
  justify-content: center;
  margin: auto;
}

.gif {
  width: 40vw;
}
.links {
  transition: all 300ms;
  display: inline-block;
}

.links:hover {
  transform: scale(1.4);
}

.shopbox:hover {
  transform: scale(1.04);
  border-radius: 12px;
}

.links:visited {
  color: white;
}
